/* Accordion container styles */
.accordion {
    width: 100%;
    margin: 20px auto;
}

/* Accordion item styles */
.accordionItem {
    border-bottom: 1px solid #253242;;
    margin-bottom: 5px;
    overflow: hidden;
}

/* Accordion header styles */
.accordionHeader {
    /*background-color: #101923;*/
    background-color: #212d3b;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordionHeader:hover{
    background: #364352;
}

/* Accordion content styles */
.accordionContent {
    /*max-height: 0;*/
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-out;
}

/* Arrow icon styles */
.arrow {
    /*width: 0;*/
    /*height: 0;*/
    /*border-left: 6px solid transparent;*/
    /*border-right: 6px solid transparent;*/
    /*border-top: 6px solid #333;*/
    transition: transform 0.3s ease-out;
}

/* Open state styles for accordion content */
.open .accordionContent {
    height: auto;
    /*height: 150px; !* Adjust as needed *!*/
    min-height: 100px;
    max-height: fit-content;
    transition: height 0.3s ease-in; /* Add this line for the transition */
}

/* Open state styles for arrow icon */
.open .arrow {
    transform: rotate(-180deg);
}




/* Accordion container styles */
.subAccordion {
    width: 100%;
    margin: 20px auto;
}

/* Accordion item styles */
.subAccordionItem {
    border-bottom: 1px solid #253242;;
    margin-bottom: 5px;
    overflow: hidden;
}

/* Accordion header styles */
.subAccordionHeader {
    background-color: #101923;
    /*background-color: #3a3c43;*/
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Accordion content styles */
.subAccordionContent {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-out;
}

/* Arrow icon styles */
.subArrow {
    /*width: 0;*/
    /*height: 0;*/
    /*border-left: 6px solid transparent;*/
    /*border-right: 6px solid transparent;*/
    /*border-top: 6px solid #333;*/
    transition: transform 0.3s ease-out;
}

/* Open state styles for accordion content */
.subOpen .subAccordionContent {
    height: 100px; /* Adjust as needed */
    max-height: fit-content;
    transition: height 0.3s ease-in; /* Add this line for the transition */
}

/* Open state styles for arrow icon */
.subOpen .subArrow {
    transform: rotate(180deg);
}

.emptyContent{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


