.mainContainer{
    width: 100%;
    /*background: #212d3b;*/
    background: #16212f;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    color: #7e91a6;
    display: flex;
    flex-direction: column;
    gap: 9px;
    position: relative;
}

.onClickBetBox{
    padding: 0px 4px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.editStakeBox{
    display: flex;
    justify-content: end;
}

.label{
    font-size: 0.9rem;
    font-weight: 600;
}

.loadingTextBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3e3e3e80;
}


.loadingText{
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 35px);
    color: white;
    width: 70px;
    height: 20px;
}

.greenActonText{
    color: #1fbf75;
    font-size: 0.75rem;
}

.none{
    display: none;
}
