.mainContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #101923;
    padding-top: 10px;
}

.innerContainer{
    width: inherit;
    max-width: 1000px;
    padding: 10px;
}

.inputBox{
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.submitBtn{
    height: 45px;
    width: 100%;
    color: #ffffff;
    background-color: #1fbf75;
    border-radius: 4px;
    font-size: 15px;
    line-height: 1.438;
    font-weight: 500;
    border: none;
}

.emptyBox{
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1e2834;
    border-radius: 4px;
    padding: 30px;
    color: #b6c2d0;
    font-weight: 500;
}

.tableBox{
    width: 100%;
    min-height: 100px;
    background: #1e2834;
    border-radius: 4px;
    /*padding: 30px;*/
    color: #b6c2d0;
    font-weight: 500;
}

.errorText{
    color: red;
}


@media (max-width: 1050px) {
    .innerContainer{
        padding: 0px 20px;
    }
}