.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #16202c;
    background: #16202c;
    box-shadow: 0px 40px 99px -10px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    /*height: min(100%, 90vh);*/
    padding: 45px;
    overflow-y: auto;
    overflow-x: hidden;
    color: #7e91a6;
    position: relative;
    z-index: 2;
    font-family: "Poppins", sans-serif;
}

.heading{
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 10px 0;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
}

.formBox{
    width: 100% ;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

.errorMsg{
    color: red;
}

.infoText{
    margin-bottom: 30px;
}

.loginBtn{
    height: 40px;
    width: 100%;
    color: #ffffff;
    background-color: #1fbf75;
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.438;
    font-weight: 500;
    margin: 10px 0;
    border: none;
    cursor: pointer;
}

.actionTextBox{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.actionText{
    font-size: 0.8rem;
    text-align: center;
    text-align: center;
}

.actionGreenText{
    color: #1fbf75;
}

.actionBlueText{
    color: #0d6efd;
}

@media (max-width : 785px) {
    .mainContainer{
        padding: 30px;
    }
}