.mainContainer{
    width: 100%;
}

.amountForm{
    display: flex;
    flex-direction: column;
    gap: 25px;
    background: #16202c;
    box-shadow: 0px 40px 99px -10px rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    padding: 18px 55px;
    max-width: 600px;
    margin: 70px auto;
    min-height: 700px;
}

.fieldBox{
    width: 100%;
}

.cancelBtn{
    width: 100%;
    border: 1px solid darkslateblue;
}

.submitBtn{
    width: 100%;
}

.errorText{
    font-size: 0.8rem;
    color: crimson;
}

.heading1{
    text-align: center;
    margin: 10px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: capitalize;
}

.heading2{
    text-align: center;
    margin: 10px 0;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
}

@media (max-width: 550px) {
    .amountForm{
        padding: 18px 25px;
    }
}