

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    border: none;
    outline: none;
    color: #b6c2d0;
    background: #212d3b;
    min-width: 110px;
    padding: 10px 15px;
    border-radius: 60px;
    font-size: 0.9rem;
    line-height: 1.3;
    cursor: pointer;
}

.square{
    border-radius: 10px;
}

.primaryBtn{
    color: #ffffff;
    background: #1fbf75;
}

.disabled{
    opacity: 0.7;
}