.mainContainer{
    width: 100%;
}

.heading{
    font-size: 1.2rem;
    color: #b6c2cf;
    font-weight: 600;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
}

.contentBox{
    display: flex;
    align-items: center;
    min-height: 100px;
    background: #16212f;
    box-shadow: 0px 40px 99px -10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    color: #b6c2d0;
}

.innerEmptyContent{
    font-size: 0.9rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}